# Chapter 2 - Data Preparation Basics
## Segment 3 - Removing duplicates

eg. when there is one customer using diff credit card for purchases, his or her preference should be counted as one person's

to prevent this data from schewing my analysis, we should remove them

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [5]:
DFObj = DataFrame({'col1': [1,1,2,2,3,3,3],
                 'col2': ['a','a','b','b','c','c','c'],
                 'col3': ['A','A','B','B','C','C','C']})
DFObj

   col1 col2 col3
0     1    a    A
1     1    a    A
2     2    b    B
3     2    b    B
4     3    c    C
5     3    c    C
6     3    c    C

In [7]:
#.duplicated() func: return boolean values to
#indicate if a row contains value that is a duplicate in a prev row
DFObj.duplicated()
#eg.row 1 has duplicate of row 0

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [8]:
DFObj.drop_duplicates()

   col1 col2 col3
0     1    a    A
2     2    b    B
4     3    c    C

In [9]:
# drop based on a certain column's values 
DFObj = DataFrame({'col1': [1,1,2,2,3,3,3],
                 'col2': ['a','a','b','b','c','c','c'],
                 'col3': ['A','A','B','B','C','D','C']})
DFObj

   col1 col2 col3
0     1    a    A
1     1    a    A
2     2    b    B
3     2    b    B
4     3    c    C
5     3    c    D
6     3    c    C

In [10]:
DFObj.drop_duplicates(['col3'])

   col1 col2 col3
0     1    a    A
2     2    b    B
4     3    c    C
5     3    c    D